section.about {

    margin-left: 40px;
    margin-top: 20px;

    img {
      height: 1em;
      width: 1em;
      background: white;
      padding: 2px;
    }

    text-align: initial;
    padding-bottom: 20px;

    h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        color: rgb(255, 251, 112);
    }

    h2:first-of-type {
        padding-top: 0px;
    }
    p {
        padding-bottom: 20px;
    }

    ul.links {

      li {
        line-height: 1.6em;
        a {
          border-bottom: 1px dotted transparent;
          &:hover {
            border-bottom: 1px dotted $hover !important;
          }
          display: flex;
          align-items: center;
          width: fit-content;
        }
        img {
          margin-right: 5px;
        }
      }

    }

}

@media(max-width: 750px) {
}
