section.about {

    img {
      height: 1em !important;
    }

    text-align: initial;
    padding-bottom: 60px;

    h2 {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    h2:first-of-type {
        padding-top: 0px;
    }
    p {
        padding-bottom: 20px;
    }

    ul {

      li {
        line-height: 1.6em;
        a {
          display: inline-flex;
          align-items: center;
          border-bottom: none;
        }
        img {
          margin-right: 5px;
        }
      }

    }

}

@media(max-width: 750px) {
}
