html, 
body {
  background: black;
  width: 100%;
  height: 100%;
  font-family: monospace;
}

html, 
body, 
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;

}

p, h1, h2, h3, h4, h5, li {
  color: $font-color-default;
}

body {
  a {
    color: $font-color-default;
  }
  a:hover {
    color: $hover !important;
  }
}

body {
  padding: 2% 2% 0 2%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 0px;
}

main {
  flex: 1 0 auto;
  position: relative;
  padding: 20px 0px 40px 0px;
}

footer {

  padding: 10px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  a {
    color: $hover;
    &:hover {
      border-bottom: 1px dotted $hover;
    }
  }

}



li {
  list-style-type: none;

  a {
    // word-break: break-word;
  }
}

.fa {
  outline: none;
}

a::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background: $hover;
}


h1, h2, h3, h4, h5 {
  //font-family: Helvetica, sans-serif;
  font-family: monospace;
}

h1 {
  font-size: 40px;
}

h2 {
  padding-bottom: 20px;
}


a.no-underline {
   border-bottom: none;
}
a.no-underline:hover {
   border-bottom: none;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

p > a {
  &:hover {
    color: $hover;
    border-bottom: 1px dotted;
  }
  border-bottom: 1px dotted black;
}

a {
  -webkit-tap-highlight-color: $hover;
  color: whitesmoke;

  &:hover { 
    color: $hover;
  }

}

img { 
  max-width: 100%; 
}

p { 
  line-height: 1.6em; 
  max-width: 1000px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
}

@media(max-width: 750px) {
  body {
    padding: 4%;
  }
  h1 {
    font-size: 1.5em;
  }

  footer {
    padding: 10px;
    p {
      font-size: 0.8em;
      a {
        color: $hover;
        &:hover {
          border-bottom: 1px dotted;
        }
      }
    }
  }
}
