.blog__recent-posts {

    text-align: left;

    .post-summary {
        width: 100%;
        margin-bottom: 2%;

        .post-summary__tags {
          //margin-left: 0;
        }
        .post-summary__header {
          h2 {
            padding-bottom: 7px;
          }
        }
        .post-summary__header,
        .post-summary__byline {
            //margin: 0;
        }

        &__short-text {
            //margin: 1% 0% 0% 0%;
            font-family: 'Lora', serif;
            padding-bottom: 5px;
        }
    }
    .post-summary:nth-child(1) {
        margin-top: 0%;
    }

}

@media(min-width:751px) {
    .post__title > a {
        font-size: 1em;
    }
}

@media(max-width:750px) {

    .blog__recent-posts {
      .post-summary__short-text {
          //margin: 2% 0% 0% 0%;
          font-family: 'Lora', serif;
      }
      .post-summary {
          margin-bottom: 7%;
          background: white;
      }
    }
}
