ul.byline {

    margin-left: 0px !important;
    margin-top: 10px;
    font-size: .9em;
    display: inline-block;
    width: 100%;

    li {
        padding: 0;
        display: inline-block;
    }

    li.github-icon,
    li.twitter-icon {
        padding: 5px;
        background: white;
    }

    li.publish-date {

        display: inline-block;

        span.post-published {
            font-family: sans-serif;
        }

        span.post-published,
        span.post-updated,
        i.pencil-icon {
            padding: 5px;
            background: white;
        }
        i.pencil-icon {
            color: rgba(255, 0, 0, 0.62);
        }


    }


    ul.post-keywords {

        display: inline-block;

        li.post-keyword {

            display: inline-block;
            background: rgba(144, 238, 144, 0.9);

            a { 
                padding: 2px 5px;
                //text-shadow: -1px 0px 0px rgba(255,255,255,0.7);
            }
        }
    }


}
