ul.byline {

    font-family: monospace;
    font-size: .9em;
    display: inline-block;
    width: 100%;

    li {
        padding: 0;
        display: inline-block;
    }

    li.github-icon,
    li.pencil-icon {
        padding: 4px 0px 4px 4px;

        a {
          color: $font-color-default;
        }
        a:hover {
          color: $hover;
        }
    }


    i.pencil-icon {
        color: $hover;
    }

    li.publish-date {

        font-weight: lighter;
        color: #d8d8d8;
        display: inline-block;

        span.post-published,
        span.post-updated,
        i.pencil-icon {
            padding: 5px;
        }


    }


    ul.post-keywords {

        display: inline-block;

        li.post-keyword {

            display: inline-block;

            a { 
                padding: 2px 5px;
            }
        }
    }


}
