pre {
    //background: url(/static/img/beige-paper.png);
    background: url(/static/img/binding-light.png);
    margin: 0% 0% 3% 0%;
    padding: 3% 3% 3% 0%;
    max-width: 100%;
    overflow-x: scroll;
}
p > code,
li > code {
    color: $hover;
    word-break: break-word;
    background: rgb(72 0 0);
}

