footer {

    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-top: 1px solid lightgreen;

    a.creator-link:hover {
      color: rgba(255, 0, 0, 0.62);
    }

    i.fa-heart {
      color: rgba(255, 0, 0, 0.62);
    }

    p {
      font-size: 1em
    }

}

@media (max-width: 750px) {
  footer {
    p {
      font-size: 0.8em
    }
  }
}
