footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

@media (max-width: 750px) {
  footer {
    padding: 3%;
    p {
      font-size: 0.8em
    }
  }
}
