footer {
  display: inline-flex;
  justify-content: left;
  .separator {
    color: $font-color-default;
  }

}

@media (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    .separator {
      display: none;
    }
    p {
      text-align: center;
      width: 100%;
      font-size: 0.8em;
      a {
        &:hover {
          color: $hover;
        }
      }
    }
  }
}
