header.site-header {
    
  width: 100%;

  text-align: left;

  nav {

    margin-left: 1%;
    display: inline-flex;
    align-items: baseline;

    .site-logo, 
    ul,
    ul > li {
      display: inline-block; 
      vertical-align: baseline;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0.5em;

    }
    .site-logo {
      font-weight: bold;
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
  
  .active-link {
    border-bottom: 2px solid rgba(255, 0, 0, 0.62);
  }

}

@media(max-width: 750px) {

  header.site-header {

    nav {

      width: 100%;
      margin-left: 0;
      justify-content: center;
      align-items: center;

      .site-logo,
      .nav-links {
        display: block !important;
        align-items: center;
      }
      .logo-trees {
        margin: 0;
      }
    }
  }
}
