header.site-header {
    
    width: 100%;
    padding: 5% 20%;

    text-align: left;
    background: white;

    nav {
        margin-left: 5%;
    }
    nav > h1, 
    nav > ul,
    nav > ul > li {

        display: inline-block; 
        vertical-align: baseline;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0.5em;
        border-bottom: 2px solid transparent;

    }

    nav > h1 {
        margin-right: 10px;
    }

    .nav-active {
      border-bottom: 2px solid rgba(255, 0, 0, 0.62);
    }

}

@media(max-width: 750px) {
    header.site-header {
        padding: 8% 0%;
    }
}

@media(max-width: 450px) {
    nav {
        margin-left: 0%;
        text-align: center;
    }
}
