header {
    
  width: 100%;

  text-align: left;

  nav {

    display: inline-flex;
    align-items: baseline;

    ul,
    ul > li {
      display: inline-block; 
      vertical-align: baseline;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0.5em;

      a {
        padding-bottom: 5px;
        border-bottom: none;
        &.active {
          border-bottom: 1px solid red;
        }
      }

    }
  }
  
  .active-link {
    border-bottom: 2px solid rgba(255, 0, 0, 0.62);
  }

}

@media(max-width: 750px) {

  header {

    nav {
      width: 100%;
      justify-content: center;
      align-items: center;

    }

  }
}
