.music {

  a {
     border-bottom: 0;
  }

  .release {
     padding-top: 40px;
     padding-bottom: 40px;
  }
  
  a.release-header {
     border-bottom: initial;
    .release-title {
       font-style: italic; 
       font-weight: bold;
    }   
    .release-title,
    .release-date,
    .release-artist {
       display: inline-flex;
    }
  }

  display: flex;
  flex-direction: column;
  padding-bottom: 2%;

  img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 25%;
  }

}

@media(max-width:750px) {
  .music {
    img {
      width: 100%;
    }
  }
}
