.post {

    padding-left: 5%;
    text-align: left;
    font-family: "Lora", serif;

    /* global spacing between sections */
    p,
    ul {
        padding-top: 1%;
        padding-bottom: 4%;
    }

    &__title {

        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
        font-family: 'sans-serif', Helvetica, Arial;

        a,
        a > p {
            display: inline;
        }

    }
    &__body {
    }

    h2 {
        font-size: 2.5em;
    }

    h1,
    h2,
    h3 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    >p {
        font-family: 'Lora';
    }
    >p:first-of-type {
        //padding: 4% 0px;
    }
    >p {
        padding: 0% 0% 3% 0%;
    }
    p > a {
        font-family: "Droid Serif";
    }
    h1,h2,h3,h4 {
        font-family: Helvetica;
    }
    h1.post {
    }
    h2, h3, h4 {
    }
    ul {
        margin: 0% 5%;
    }
    li {
        font-family: 'Lora';
        list-style-type: initial;
    }
    
    &__contribute {

        padding: 3% 5%;
        background: lightgreen;

        &-question-container {
            height: 2em;
            width: 2em;
            margin-right: 5px;
            display: inline-flex;
            background: white;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
        }

        &-copy {
            display: inline !important;
        }
        &-repo {
            text-decoration: underline;
        }

    }


}

a[href="#references"] {
    color: rgba(255, 0, 0, 0.62);
    font-size: .6em;
    vertical-align: super;
}

p.full-post-content,
div.post-stub {
    background: rgba(255,255,255,0.0);
    margin: 0px 0px;
    padding: 0px;
    text-align: left;
}

div.post-text {

    p {
        font-family: 'Lora', serif;
        margin-right: 5px;
    }

    p:first-of-type {
        display: inline;
    } 

    a.full-article-link {
        background: rgba(255, 0, 0, 0.2);
        padding: 0px 5px 0px 5px;
    }

}


@media(max-width: 750px) {

    .post {

        padding: 0% 5% 5% 5%;
        
        &__title {
            a {
                font-size: 1.6em;
            }
        }

        >p:first-of-type {
           //padding: 10% 0%;
        }

        >p {
            padding: 0% 0%;
        }

        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1em;
        }

        h2,h3,h4 {
            margin-bottom: 0%;
        }

        li {
            list-style-type: initial;
        }

    }

}
