.project-name,
ul.project-links,
ul.project-links > li {
  display: inline-block;
}

section.projects {
  padding-left: 0%;
  padding-right: 0%;
  line-height: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
}

.project {

  border: 5px solid white;
  background: whitesmoke;
  height: fit-content;
  padding: 1%;
  position: relative;
  flex-basis: 25%;
  min-height: 300px;

  &:last-child {
    margin-bottom: 0%;
  }

  .project-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header-container {

      justify-content: space-between;
      display: inline-flex;

      .project-title,
      .top-link {
        padding: 2% 0%;
      }

      .top-link {
        .to-top {
          color: lightgreen;
          font-size: 1.5em;
        }
      }
    }

    .links-container {

      a {  
        border-radius: 2px;
        .source-link {
          padding: 3px 4px;
          border-radius: 2px;
          background: whitesmoke;
          margin-left: 15px;
          margin-right: 15px;
        }
      } 

      .demo-link {

        font-family: Helvetica;
        color: whitesmoke;
        background: rgba(244, 67, 54, 0.84);
        padding: 2px 6px;
        border-radius: 2px;

        &:hover {
          background: whitesmoke;
          color: rgba(244, 67, 54, 0.84);
        }

      }

    }
  }

  .project-description {
    padding: 2% 0% 5% 0%;
    text-align: left;

    a {
      color: rgba(244, 67, 54, 0.84);
    }
  }


}

img.project-image {
  padding: 0% 0% 2% 0%;
  margin: 0 auto;
}

nav.projects-nav {

  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;

  ul {

    margin-top: 1.4em;

    li {
      .project-name {
        padding-left: 5px; 
      }
    }
  }
}

@media(max-width: 750px) {

  nav.projects-nav {
    padding-left: 10%;
    padding-right: 10%;
  }

  section.projects {
    padding: 0;
  }

  .project {
    flex-basis: 50%;
    &:last-child {
      margin-bottom: 0%;
    }
  }

  nav.projects-nav {
    position: relative;
    text-align: left;
    padding-bottom: 15%;
  }

}
