.project-name,
ul.project-links,
ul.project-links > li {
    display: inline-block;
}


h3 > .github-link {
    font-weight: lighter;
    font-size: .5em;
} 
section.projects {
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5em;
}

.project {
    margin: 0% 0% 5% 0%;
    padding: 2% 5%;
    background: white;

    .project-title {
        position: relative;
        padding: 2% 0%;
    } 
}

.demo-link {
    &:hover {
        color: rgba(244, 67, 54, 0.84);
        background: white;
        border: 1px solid rgb(40,40,40);
    }

    display: inline-block;
    background: rgba(244, 67, 54, 0.84);
    color: white;
    padding: 0px 4px;
    border-radius: 2px;
    border: 1px solid transparent;
}

.project-header {
    text-align: left;
}
.project-name {
    padding-right: 5px;
}

.to-top {
    color: lightgreen;
    position: absolute;
    right: 0;
}

div.project-description {
    padding: 2% 0% 5% 0%;
    text-align: left;

    a {
        color: rgba(244, 67, 54, 0.84);
    }
}

img.project-image {
    padding: 0% 0% 2% 0%;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

nav.projects-nav {
    position: absolute;
    left: 5%;

    & > h3 {
        text-decoration: underline;
        text-decoration-color: rgba(244, 67, 54, 0.84);
    }

    li {
        padding: 0.2em 0em;
    }
}

@media(max-width: 900px) {
    nav.projects-nav {
        position: relative;
        text-align: left;
        padding: 2% 0% 8% 0%;
    }
}
@media(max-width: 750px) {
    header.project-header {
        text-align: center;
    }
}
