.project-name,
ul.project-links,
ul.project-links > li {
  display: inline-block;
}

section.projects {
  width: 100%;
  max-width: 1000px;
  margin-top: -2%;
  margin-left: -20px;
}

.project {

  &:hover {
    background: whitesmoke;
  }

  margin: 2% 2% 0% 0%;
  width: fit-content;
  border-radius: 2px;
  padding: 20px 20px;


  .project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    .header-container {

      justify-content: space-between;
      display: inline-flex;

      .project-title,
      .top-link {
        padding: 2% 0%;
      }

      .top-link {
        .to-top {
          color: lightgreen;
          font-size: 1.5em;
        }
      }
    }

    .links-container {

      a {  
        border-radius: 2px;
        .source-link {
          padding: 3px 4px;
          border-radius: 2px;
          background: whitesmoke;
          margin-left: 15px;
          margin-right: 15px;
        }
      } 

      .demo-link {

        font-family: Helvetica;
        font-size: 0.8em;
        color: whitesmoke;
        background: rgba(244, 67, 54, 0.84);
        padding: 2px 6px;
        border-radius: 2px;

        &:hover {
          background: whitesmoke;
          color: rgba(244, 67, 54, 0.84);
        }

      }

    }
  }

  .project-description {
    margin-bottom: 7px;
    text-align: left;

    a {
      color: rgba(244, 67, 54, 0.84);
    }
  }

}

.project-images {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .project-image-link {
    width: 100px; 
    height: 100px;
    background-position: center center;
    background-size: cover;
  }

}

.project-image {
  padding: 0% 0% 2% 0%;
  margin: 0 auto;
  overflow: hidden;
}

nav.projects-nav {

  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;

  ul {

    margin-top: 1.4em;

    li {
      .project-name {
        padding-left: 5px; 
      }
    }
  }
}

@media(max-width: 750px) {

  nav.projects-nav {
    padding-left: 10%;
    padding-right: 10%;
  }

  section.projects {
    padding-left: -20px;
    margin-left: 0;
    padding: 0;
  }

  nav.projects-nav {
    position: relative;
    text-align: left;
    padding-bottom: 15%;
  }

}
