.tags {
    margin-top: 1%;
    margin-left: 0px !important;

    &__label {
        display: inline-block;
        color: rgb(97, 97, 97);
    }

    &__tag {

        font-size: 0.8em;
        background: white;
        border: 1px solid rgb(222, 222, 222);
        background: whitesmoke;
        border-radius: 3px;
        padding: 2px 5px;
        margin: 5px 0;
        display: inline-block;
        margin-bottom: 5px;

        &> a { 
            font-family: sans-serif;
            color: rgba(244, 67, 54, 0.84);

        }
    }

    &__label,
    &__tag {
        font-family: 'Lora', serif;
    }

}
