{% macro badge(post) -%}
    
    {% if post.content_type == 'article' %}
    <div class="post__article-badge"
         title="{{post.content_type}}">
        <a href="{{ post|url }}">
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
    {% endif %}
    {% if post.content_type == 'news' %}
    <div class="post__news-badge" 
         title="news">
        <a href="{{ '/news'|url }}">news</a>
    </div>
    {% endif %}

    {% if post.content_type == 'quick-tip' %}
    <div 
        class="post__quick-tip-badge"
        title="quick tip">
        <a href="{{ '/quick_tips'|url }}">
            <i class="fa fa-terminal"></i>
        </a>
    </div>
    {% endif %}

{%- endmacro %}
