{% macro badge(post) -%}
    {% if content_type == 'article' %}
    <div class="{{post.content_type}}__badge"
         title="{{post.content_type}}">
        <a href="{% post|url %}">
            <i class="fa fa-paper-plane"></i>
        </a>
    </div>
    {% endif %}

    {% if content_type == 'news' %}
    <div class="news__badge" 
         title="news">
        <a href="{{ '/news'|url }}">news</a>
    </div>
    {% endif %}

    {% if content_type == 'quick-tip' %}
    <div 
        class="quick-tip__badge"
        title="quick tip">
        <a href="{{ '/quick_tips'|url }}">
            <i class="fa fa-terminal"></i>
        </a>
    </div>
    {% endif %}
{%- endmacro %}
