{% extends "layout.html" %}

{% block content %}

  <section class="blog__archive"> 
    <h2>Archive</h2>
    {% set root = site.get('/blog') %}
    <ul>
      {% for post in root.children %}
        <li class="post-link query-match" data-tags="{{ ' '.join(post.tags) }}">
          <span class="post-pub-date">{{ post.pub_date }}</span> | <a class="post-title" href="{{ post | url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section> 

<script>

  const nodes = document.querySelectorAll('.post-link')
  const [params] = [...(new URL(window.location.href)).searchParams.entries()]

  // elements are set as query matches by default. 
  // if query params exist in url, remove query-match for non-matches
  if (params && params.length == 2) {
    const [key, value] = params
    nodes.forEach(node => {
      const matchesQuery = node.dataset.tags && node.dataset.tags.split(' ').map(s => s.toLowerCase()).includes(value.toLowerCase()) 
      if (!matchesQuery) {
        node.classList.remove('query-match')
      }
    })
  }

</script>
{% endblock %}
