{% extends "layout.html" %}
{% from 'macros/title.html' import title %} 
{% from 'macros/byline.html' import byline %} 
{% from 'macros/tags.html' import tags %} 
{% from 'macros/social_media.html' import social_media %} 

{% block content %}
    <section class="recent-posts-list"> 
        {% for post in this.children %}
            {{ title(post) }}
            {{ social_media(post) }}
            {{ byline(post) }}
            {{ tags(post.tags) }}
            <article class="recent-post"> 
                <div class="recent-post-stub">
                    <div class="recent-post-text">
                        {{ post.short_text }}
                    </div>
                </div>
            </article> 
        {% endfor %}

        <h3 class="more-posts">
            <a href="archive">More Posts</a>
        </h3>

    </section> 
{% endblock %}
