{% extends "layout.html" %}

{% from 'blog/post/macros/references.html' import references %}
{% from 'common/macros/tags.html' import tags %}
{% from 'blog/post/macros/byline.html' import byline %}

{% block content %}


  <section class="post">

    <h1>{{ this.title }}</h1>                                                                                                                 

    <section>{{ byline(this) }}</section>

    <aside title="expand the table of contents" class="post-toc closed">

      <button class="fa fa-list toc-icon"></button>

      <nav class="toc-list-container">
        <div class="post-toc-header">
          <h4>Table of Contents</h4>
          <button class="fa fa-close close-icon"></button>
        </div>

        <ul class="toc-parent">
          {% for item in this.body.toc recursive %}
            <li>
              <a href="#{{ item.anchor }}">{{ item.title }}</a>
              {% if item.children %}
                <ul>{{ loop(item.children) }}</ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>

    </aside>


    <article class="post__body"> 
        {% block body %}{{ this.body }}{% endblock %}
    </article>

    {{ references(this) }} 

    {{ tags(this.tags) }}

    {% if this.content_type == 'article' %}
        {% include 'blog/post/contribute.html' %}
    {% endif %}


  </section>
  <script>

    // handle clicks on table of contents icons
    const toc = document.querySelector('.post-toc') 
    const tocIcon = document.querySelector('.toc-icon')
    const closeIcon = document.querySelector('.close-icon')
    const tocListParent = document.querySelector('.toc-parent')

    tocIcon.addEventListener('click', e => {
      toc.classList.remove('closed')
    })

    closeIcon.addEventListener('click', e => {
      toc.classList.add('closed')
    })

    tocListParent.addEventListener('click', e => {
      if (e.target.nodeName === 'A') {
        setTimeout(() => {
          window.scrollBy(0, -40)
          toc.classList.add('closed')
        }, 0) 
      }
    })

    


  </script>

{% endblock %}
