{% extends "layout.html" %}

{% from 'blog/post/macros/post_header.html' import post_header %} 
{% from 'common/macros/tags.html' import tags %} 

{% block content %}

    <section class="blog__recent-posts"> 

        {% for post in this.children %}

            <article class="post-summary">

                <section class="post-summary__header">{{ post_header(post) }}</section>
                <section class="post-summary__short-text">{{ post.short_text }}</section>
                <section class="post-summary__tags">{{ tags(post.tags) }}</section>

            </article>

        {% endfor %}

        {% include 'blog/more-posts.html' %}


    </section> 

{% endblock %}
