{% extends "layout.html" %}

{% from 'blog/post/macros/references.html' import references %}
{% from 'common/macros/tags.html' import tags %}
{% from 'blog/post/macros/byline.html' import byline %}

{% block content %}

  <aside title="table of contents" class="post-toc closed">

    <button class="fa fa-close close-icon"></button>
    <button class="fa fa-list toc-icon"></button>

    <h4>Table of Contents</h4>
    <nav class="toc-list-container">
      <ul class="toc-parent">
        {% for item in this.body.toc recursive %}
          <li>
            <a href="#{{ item.anchor }}">{{ item.title }}</a>
            {% if item.children %}
              <ul>{{ loop(item.children) }}</ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

  </aside>

  <section class="post">

    <h1>{{ this.title }}</h1>                                                                                                                 
    <section>{{ byline(this) }}</section>

    <article class="post__body"> 
        {% block body %}{{ this.body }}{% endblock %}
    </article>

    {{ references(this) }} 

    {{ tags(this.tags) }}

    {% if this.content_type == 'article' %}
        {% include 'blog/post/contribute.html' %}
    {% endif %}


  </section>
  <script>

    const toc = document.querySelector('.post-toc') 
    const tocIcon = document.querySelector('.toc-icon')
    const closeIcon = document.querySelector('.close-icon')

    tocIcon.addEventListener('click', e => {
      toc.classList.remove('closed')
    })

    closeIcon.addEventListener('click', e => {
      toc.classList.add('closed')
    })


  </script>

{% endblock %}
