<header class="site-header">
  <nav>
    <ul>
      <li class="logo"><a href="/">Person alex => :: Code -> Music -> DIY -> #$!@# </a></li>
      <!--
      <li><a class="{% if this.path.startswith('/writing') %}active{% endif %}" href="/writing">writing</a></li>
      <li><a class="{% if this.path.startswith('/projects') %}active{% endif %}" href="/projects">projects</a></li>
      <li><a class="{% if this.path.startswith('/music') %}active{% endif %}" href="/music">music</a></li>
      -->
    </ul>
  </nav>
</header>
