<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home — Alex Ramsdell</title>
        <meta charset="utf-8">
        <meta name="description" content="Articles relating to software, synths, computer science, humor, philosophy and music.">  
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="stylesheet" href="{{ '/static/css/main.css'|asseturl }}">
        <link rel="stylesheet" href="{{ '/static/css/fontawesome/css/font-awesome.min.css'|asseturl  }}">
        <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
    </head>
    <body>
        {% include 'header.html' %}
        <div class="main">
        {% block content %}
        {% endblock %} 
        </div>
        {% include 'footer.html' %}
    </body>
</html>
