{% extends "layout.html" %}

{% block content %}

  <section class="music">

    <h2>Music</h2>
      
    {% for release in this.children %}

      <a class="album-title" href="{{ release.stream_link }}">{{ release.title }} ({{ release.release_date.strftime("%Y") }})</a>

      <div class="release-images">
        {% for img in release.attachments.images %}
          <a href="{{ release.stream_link }}">
            <img src="{{img.path}}" />
          </a>
        {% endfor %}
      </div>

      {{ release.body }}


    {% endfor %}

  </section>

{% endblock %}
