{% extends "layout.html" %}
{% from 'common/macros/tags.html' import tags %}  

{% block content %}
  <nav class="projects-nav">
    <h1>Projects</h1>
    <ul>
      {% for project in this.children %}
      <li>
        <i class="fa fa-lightbulb-o"></i>
        <a class="project-name" href="#{{ project.name }}"> {{ project.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <section class="projects">
    {% for project in this.children %}

      <div class="project">

        <header class="project-header">

          <div class="header-container">
            <h2 class="project-title" id="{{project.name}}">{{ project.name }}</h2>
            <a class="top-link" href="#top"><i class="to-top fa fa-arrow-up" title="go to top"></i></a>
          </div>

          <div class="links-container">
            <a href="{{project.source_link}}">
              <i class="source-link fa fa-github"></i>
            </a>
            {% if project.demo_link %}
              <a class="demo-link" href="{{project.demo_link}}">demo</a>
            {% endif %}
          </div>
        </header>

        <div class="project-description">{{ project.description }}</div>

        {% for img in project.attachments.images %}
            <img src="{{img|url}}" />
        {% endfor %}

      </div>

    {% endfor %}
  </section>
{% endblock %}
