{% extends "layout.html" %}
{% from 'common/macros/tags.html' import tags %}  

{% block content %}
<section class="projects">

  {% for project in this.children %}

    <div class="project">

      <header class="project-header">

        <div class="header-container">
          <h2 class="project-title" id="{{project.name}}">{{ project.name }}</h2>
        </div>


      </header>

      <div class="project-description">{{ project.description }}</div>
      <ul class="project__links-container">
        {% if project.source_link %}
        <li>
          <a href="{{project.source_link}}">source</a>
        </li>
        {% endif %}
        {% if project.demo_link %}
        <li>
          <a href="{{project.demo_link}}">demo</a>
        </li>
        {% endif %}
      </ul>

      <div class="project-images">
        {% for img in project.attachments.images %}
        <a class="project-image-link" href="{{ img.path }}" style="background-image: url({{ img.path }})" ></a>
        {% endfor %}
      </div>

    </div>

  {% endfor %}

</section>
{% endblock %}
