{% extends "layout.html" %}

{% from 'writing/post/macros/post_header.html' import post_header %} 
{% from 'writing/post/macros/byline.html' import byline %} 
{% from 'common/macros/tags.html' import tags %} 

{% block content %}

  <section class="blog__recent-posts"> 
    <h2>Writing</h2>

    {% for post in this.children %}

      <article class="post-summary">

        <section class="post-summary__header">
          <h3><a href="{{ post | url }}">{{ post.title }}</a></h3>
        </section>
        <section>{{ byline(post) }}</section>
        <section class="post-summary__short-text">{{ post.short_text }}</section>
        <section class="post-summary__tags">{{ tags(post.tags) }}</section>

      </article>

    {% endfor %}

  </section> 

{% endblock %}
